[
{
  "name": "git-prompt",
  "scriptInitial": ["C-c", "C-c", "Enter"],
  "scriptBeforeChangingBranch": ["C-c", "Enter"], 
  "scriptFinal": ["node", "Enter"]
},
{
  "name":"tmux-auto", 
  "scriptInitial" : ["C-c","Enter"],
  "scriptBeforeChangingBranch": ["C-c", "Enter"], 
  "scriptFinal": ["node", "Enter"]
}
]
